:root {
  --primary: #0078D4;
  --secondary: #605E5C;
  --light: #f4f4f4;
  --dark: #264653;
  --delete: #e7461d;
  --grey: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1, h4 {
  color: var(--dark);
  text-align: center;
  margin-top: 10px;
}

h4 {
  margin-bottom: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 100vh;
  justify-content: flex-start;
  min-height: 100vh;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--light);
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.todo:hover {
  background-color: #f0f0f0;
}

.todo .checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--dark);
  cursor: pointer;
}

.todo.is-complete .checkbox {
  border-color: var(--primary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.todo .text {
  flex-grow: 1;
  margin-left: 15px;
  cursor: pointer;
}

.todo.is-complete .text {
  color: var(--grey);
  text-decoration: line-through;
}

.todo .delete-todo {
  color: var(--delete);
  cursor: pointer;
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--light);
  background-color: #fff;
}

.input-form-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.title-container {
  text-align: center;
}

.add-todo-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.delete-todo {
  height: 20px;
  width: 20px;
  background-size: 100% 100%;
  cursor: pointer;
}

.content-container {
  flex-direction: column;
  align-items: start;
  padding-bottom: 70px; /* adjust this to match your input field's height */
  width: 100%;
}
